mixin marks(subj)
	span.text= subj
	.menu
		.item.best.mark(data-subject=subj data-mark="5") 頂標
		.item.good.mark(data-subject=subj data-mark="4") 前標
		.item.average.mark(data-subject=subj data-mark="3") 均標
		.item.bad.mark(data-subject=subj data-mark="2") 後標
		.item.worst.mark(data-subject=subj data-mark="1") 底標
		.item(data-subject=subj data-mark="0") 未選考
		.item(data-subject=subj data-mark="6") 清除

details.ts.accordion.filter
		summary
				i.icon.dropdown
				| 學測級分篩選
		#filterGsat
			.ts.dropdown.labeled.icon.button
				i.book.icon
				+marks("國文")

			.ts.dropdown.labeled.icon.button
				i.globe.icon
				+marks("英文")

			.ts.dropdown.labeled.icon.button
				i.calculator.icon
				+marks("數學")

			.ts.dropdown.labeled.icon.button
				i.newspaper.icon
				+marks("社會")

			.ts.dropdown.labeled.icon.button
				i.idea.icon
				+marks("自然")
		br

.autocomplete
	.inner-btn
		input#dep(type="text" placeholder="輸入您感興趣的科系..." oninput="adjustSuggestion();")
		i#clear.clear.hidden1.hidden2(onclick="input.value = ''; adjustSuggestion();")
	#dep-list.autocomplete-items
#stone(style="display: none;")
	a(target="_blank" href="https://sitcon.org/" onclick="ga('send', 'event', 'Outgoing', 'SITCON', 'Search Stone');")
		img.ts.poyon(src="https://sitcon.org/2017/favicon.ico")
	p(style="display: inline-block;")
		| 小石看到你正在查詢資訊相關科系
		br
		| 不妨來 
		a(target="_blank" href="https://sitcon.org/" onclick="ga('send', 'event', 'Outgoing', 'SITCON', 'Search Textlink');") SITCON 學生計算機年會
		|  看看吧owo

#loading
	h3.ts.header 資料讀取中...
	p 自 108 年開始，學測最多參採四科，到了 109 年更調整至五選三，來看看您心目中的科系用了何種組合，該將準備心力放在哪些考科最有利
	p 本站為您整理了個人申請、繁星推薦、指考分發的參採科目，讓您在五選四的時代快速得到簡章重點
h5#count.ts.center.aligned.header(style="display: none;") 共&nbsp;
	span#count-num 0
	| &nbsp;筆結果
center 注意：這份資料尚未更新，仍為去年（2019 年初）版本
table#list.ts.very.basic.table
#no-data.ts.padded.basic.slate(style="display: none;")
	i.search.icon
	span.header 無符合條件之結果
#show-more(style="display: none;text-align:center")
	button.ts.secondary.basic.button(onclick="max_result *= 2; updateTable();") 檢視更多結果
