if ! gsatYear
	- var gsatYear = latestYear
	- var isLatest = true

doctype html
html
	head
		title #{gsatTypeName} - 學測五選四 #{gsatYear} 年度
		meta(property="og:url" content="https://sean.cat/gsat/" + gsatType + gsatYear)
		meta(property="og:title" content="學測五選四 - " + gsatTypeName + " " + gsatYear + " 年度")
		meta(name="keywords" content="學測五選四," + gsatTypeName)
		include head
		if gsatType == "advanced"
			link(href="./style.advanced.css?v=1022" rel="stylesheet")
		script(type="application/ld+json").
			{
				"@context": "http://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/",
							"url":"https://sean.cat/",
							"name": "Sean's Website"
						}
					}, {
						"@type": "ListItem",
						"position": 2,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/",
							"url":"https://sean.cat/gsat/",
							"name": "學測五選四"
						}
					}, {
						"@type": "ListItem",
						"position": 3,
						"item": {
							"@type":"WebPage",
							"@id": "https://sean.cat/gsat/#{gsatType}#{gsatYear}",
							"url":"https://sean.cat/gsat/#{gsatType}#{gsatYear}",
							"name": "#{gsatTypeName} #{gsatYear} 年度"
						}
					}
				]
			}
	body
		nav.ts.basic.fluid.borderless.menu.horizontally.scrollable
			.ts.container
				a.item(href=".") 首頁
				a.item.hide1(href="apply") 個人申請
				a.item.hide1(href="star") 繁星推薦
				a.item.hide1(href="advanced") 指考分發
				.right.fitted.item
					a.item(target="_blank" href="https://www.sean.taipei/") 關於作者
		if gsatType == "advanced"
			section.placeholder
				.placeholder-message
					p 指考共有十個科目，不適合小手機查詢，請以電腦開啟此頁面，或將手機畫面打橫著用
					p 抱歉造成您的不便，Sean 在這邊感謝您的體諒
					br
					a(href=".") 回到首頁
		header.ts.fluid.vertically.padded.heading.slate
			.ts.narrow.container
				h1.header #{gsatTypeName}
				.description 學測五選四 #{gsatYear} 學年度
		div.ts.container(name="main")
			if gsatYear != latestYear
				h5(style="color: red; justify-content: center;") 注意：此為歷年舊資料，僅可做為參考
				center
					| 最新資料請 
					a(href=gsatType) 點擊這裡
					|  前往
			include search

			h3 歷年資料
			p
				each year in years
					if year == gsatYear && !isLatest
						b #{year} 年
					else
						a(href=gsatType + year) #{year} 年
					| 、
				if isLatest
					b 最新版本
				else
					a(href=gsatType) 最新版本

		include footer
		script.
			var gsatType = "#{gsatType}";
			var gsatYear = "#{gsatYear}";
		script(src="js/utils.js?v=0216")
		script(src="js/common.js?v=0216")
